body > header {
  width: 100%;
  height: 400px;
  padding: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f59b00;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

  color: #fff;
  font-size: 1em;
  font-weight: 300;
}

div > img {
  padding-top: 1em;
}

@media screen and (min-width: 1024px) {
  body > header {
    float: left;
    width: 20%;
    margin-top: 3em;
    margin-left: 1em;

    min-width: 250px;
  }
}
